@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section
{
  position: relative;  
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
    position: relative;
    max-width: 250px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}
.divider {
    border: none;
    height: 1px;
    background-color: #000000;
    margin: 20px 0;
  }
.content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.rrss
{
  position: absolute;
  top: 200px;
  right: 30px;
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rrss li
{
  list-style: none;
}
.rrss li a
{
 display: inline-block; 
 margin: 5px 0;
 transform: scale(0.6);

}
.line 
{
  height: 2px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

video {
    width: 80%;
    height: auto;
}